<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Acerca de')"></head>

<body>
    <nav th:replace="navbar :: navbar (usuario=${usuario}, logeado=${logeado})"></nav>

    <!--<label th:if="${logeado == false}">Hola</label>-->

    <div class="container-fluid">
        <h1>ToDoList</h1>
        <ul>
            <li>Desarrollada por Francisco José Ramírez Paraíso</li>
            <li>Versión 1.0.1</li>
            <li>Fecha de release: 27/9/2023</li>
        </ul>
    </div>

</div>

<div th:replace="fragments::javascript"/>

</body>
</html>