<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Lista Usarios de un Equipo')"></head>
<body>
<nav th:replace="navbar :: navbar (usuario=${usuarioPrincipal}, logeado=${logeado}, administrador=${usuarioPrincipal.esAdministrador})"></nav>
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col">
            <h2 th:text="'Listado de Usuarios de ' + ${equipo.nombre}"></h2>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Nombre</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="usuario: ${usuarios}">
                    <td th:text="${usuario.nombre}"></td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <div class="alert alert-info" role="alert" th:if="${#lists.isEmpty(usuarios)}">
                <span>Actualmente no hay usuarios registrados en este equipo.</span>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="fragments::javascript"/>
</html>