<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Lista Equipos')"></head>
<body>
<nav th:replace="navbar :: navbar (usuario=${usuarioPrincipal}, logeado=${logeado}, administrador=${administrador})"></nav>
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col">
            <h2>Listado de Equipos</h2>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <a class="btn btn-success" th:href="@{/equipos/crear}" />Añadir nuevo Equipo</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Usuarios</th>
                    <th scope="col">Accion</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="equipo: ${equipos}">
                    <td th:text="${equipo.id}"></td>
                    <td th:text="${equipo.nombre}"></td>
                    <td><a class="btn btn-info" th:href="@{/equipos/{id}/usuarios(id=${equipo.id})}" role="button">Info</a></td>
                    <div>
                        <td class="d-flex align-items-center">
                            <button type="button" class="btn btn-success">Unirme</button>
                            <button type="button" class="btn btn-danger">Salir</button>
                        </td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <div class="alert alert-info" role="alert" th:if="${#lists.isEmpty(equipos)}">
                <span>Actualmente no hay equipos registrados.</span>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="fragments::javascript"/>
</html>