<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Lista Usuarios')"></head>

<body>
<nav th:replace="navbar :: navbar (usuario=${usuarioPrincipal}, logeado=${logeado})"></nav>
<div class="container-fluid">

    <div class="row mt-3">
        <div class="col">
            <h2>Listado de Usuarios</h2>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Correo electrónico</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Acción</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="usuario: ${usuarios}">
                        <td th:text="${usuario.id}"></td>
                        <td th:text="${usuario.email}"></td>
                        <td><a th:href="@{/registrados/{id} (id=${usuario.id})}">Más info.</a></td>
                        <div th:if="${usuario.id != usuarioPrincipal.id}">
                            <td th:if="${usuario.estaBloqueado}">
                                <button type="button" class="btn btn-success">Desbloquear</button>
                                <button type="button" class="btn btn-outline-danger">Bloquear</button>
                            </td>
                            <td th:unless="${usuario.estaBloqueado}">
                                <button type="button" class="btn btn-outline-success">Desbloquear</button>
                                <button type="button" class="btn btn-danger">Bloquear</button>
                            </td>
                        </div>
                        <!---->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>

<div th:replace="fragments::javascript"/>
</html>